<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf8A2IdYAEnCIYIY1Opb9xe0MrglyOJTI</string>
	<key>GCM_SENDER_ID</key>
	<string>585253185176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.harvesttech.hydrogen</string>
	<key>PROJECT_ID</key>
	<string>simplifyhealth-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>simplifyhealth-prototype.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585253185176:ios:8749280f9a300d0d02d2ed</string>
</dict>
</plist>